@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --midnight: #002F5E;
}

body {
  color: var(--foreground);
  font-family: MagilioRegular;
}

.rtl {
  direction: rtl;
}